.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container span {
  font-size: 14px;
  font-weight: 300;
  color: rgb(196, 196, 196);
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}